<div class="footer">
    <div class="footercontainer">
        <div class="icons">
            <a href="https://www.instagram.com/_iam_uncle_john/"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://linkedin.com/in/anurodh-kumar-ab7146204"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://github.com/idabora"><ion-icon name="logo-github"></ion-icon></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=anurodhk82@gmail.com&su=Write down Subject Here&body=Body Content here" target="_blank"><ion-icon name="logo-google"></ion-icon></a>
        </div>
    </div>
    <div class="boxtwo">
        <div class="logocontainer">
            <img src="../logo9898.png" alt="">
        </div>
        <div class="text">
            <p>Copyright &#169; 2023 | Story Stop ,Inc.
            <br>
            "Once Upon a Time" <br> People forget facts, but they remember stories. </p>
        </div>
    </div>
</div>