<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>fonts_icons}}
    <link rel="stylesheet" href="addstories.css">
    <link rel="stylesheet" href="about.css">
    <title>About Us</title>
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="quote">"All good writing leaves something unexpressed"</div>
        <div class="about">

            <span class="hello"> Hello Visitor</span>
            <p>
                Welcome to the Stories Stop , a platform where you can Write , Read and Share Stories and
                Quotes on Twitter.
                <br>
                Hello , this web application is made by Anurodh Kumar , you can find me on
                <span class="icons">

                <a href="https://www.instagram.com/_iam_uncle_john/"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://linkedin.com/in/anurodh-kumar-ab7146204"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/idabora"><ion-icon name="logo-github"></ion-icon></a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=anurodhk82@gmail.com&su=Write down Subject Here&body=Body Content here"
                    target="_blank"><ion-icon name="logo-google"></ion-icon></a>
                </span>
            </p>
        </div>

    </div>
    {{>footer}}
</body>

</html>