<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dashboard.css">
    <link rel="stylesheet" href="../addstories.css">
    {{>fonts_icons}}
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>Edit stories</h1>
    <div class="container">
        <form action="/stories/{{story._id}}" method="POST">
            <input type="hidden" name="_method" value="PUT" />
            <div class="Info">
                <input type="text" name="title" value="{{story.title}}">
                <label for="status">Status:</label>
                <select name="status" id="">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
            <div class="story">
                <textarea id="body" name='body' cols="1200" rows="20">{{story.body}}</textarea>
            </div>
            <div class="buttons">
                <input type="submit">
                <a href="/dashboard">Cancel</a>
            </div>
        </form>
    </div>
    {{>footer}}
</body>

</html>