<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/6.1.3/esm/ionicons.min.js"
        integrity="sha512-J4LkJr/AeK/KXjqkfb/65C4jzT4gG7BDqH9OtiOzCmULhWdKGppS3dCCzo0bmFULnZkajr4esopJYYLOLzuznw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/show.css">
    {{>fonts_icons}}
    <title>Single Story</title>
</head>
<body>
    {{>header}}
    <div class="body">

    <div class="container">
        <div class="info">
        <h2>{{story.title}}</h2>
        </div>
        <div class="content">
            <p class="body">{{story.body}}</p>
        </div>
    </div>
    <div class="author">
        <p class="name">- {{story.user.displayName}}</p>
    </div>
    </div>
    {{>footer}}
</body>

</html>